# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*  # Any env config like .env.dev, .env.prod

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
loggging/
*.log

# Model files
*.joblib
*.pkl
*.h5
*.sav

# Datasets
*.csv
*.tsv
*.xlsx
*.xls

# System files
.DS_Store
Thumbs.db

# Python-specific cache
*.cache
*.pyo

# IDE/project settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PDF Reports
*.pdf
